# Infrastructure Credentials
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=postgres

# Database Identity
IOT_DB=iot_db
AIRFLOW_DB=airflow

# Grafana Security
GRAFANA_ADMIN_PASS=admin
DB_PASSWORD=1234
# Airflow Security
AIRFLOW_SECRET_KEY=77eb6f7360241cd02741b0739ad28989
